
.stripe__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stripe__header {
    padding-bottom: 50px;
}

/* .stripe__body {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40%;
} */

/* .stripe__body h2 {
    padding-bottom: 10px;
} */

.stripe__footer {
    padding-top: 10rem;
}